# Tuples

```python
tup = (1,2,'this',['that','and'],{'the':'other thing'}
```

Tuples are List's close cousin. They are very simmilar in that they are both a collection of items in a sequence. Unlike lists they are immutible, so you can't change them.

Topics Covered:
1. Creating a Tuple
2. Tuple Methods
3. Immutability
4. When would I want to use a tuple?

## Creating a Tuple

In [3]:
empty_tuple = ()
empty_tuple

()

In [4]:
# Single element tuples are followed by a comma
musketeer = ('Athos',)
musketeer

('Athos',)

In [5]:
# Single tuple needs a comma or else parenthases are read like they are in math
type(('Athos'))

str

In [6]:
# Multiple elements in a tuple
musketeers =  ('Athos', 'Porthos', 'Aramis')
musketeers

('Athos', 'Porthos', 'Aramis')

In [7]:
# Tuples don't always need parenthasis...
musketeers =  'Athos', 'Porthos', 'Aramis'
musketeers

('Athos', 'Porthos', 'Aramis')

In [8]:
# including single element tuples.
# Python will always include them
musketeer = 'Athos',
musketeer

('Athos',)

## Using Tuples

Very simmilar to lists

In [9]:
# Indexing and Slicing
letters = tuple('Thisisalongstring')
print(letters)

('T', 'h', 'i', 's', 'i', 's', 'a', 'l', 'o', 'n', 'g', 's', 't', 'r', 'i', 'n', 'g')

In [10]:
letters[3]

's'

In [11]:
letters[4:14]

('i', 's', 'a', 'l', 'o', 'n', 'g', 's', 't', 'r')

In [12]:
# You can check the length
len(letters)

17

In [13]:
# You can mix object types
blah = ('this',1,3.892,'that')
blah

('this', 1, 3.892, 'that')

In [14]:
#index method
blah.index('that')

3

In [15]:
# it only tells you the first time the entry occurs
blah = ('this',1,3.892,'that','that','that','that')
blah.index('that')

3

In [16]:
# Count tells you how many time that entry occurs
blah.count('that')

4

note: lists also have index and count methods that do the same thing

Tuples allow you to assign multiple variables at once. This is called tuple unpacking, and it's awesome

In [17]:
musketeers

('Athos', 'Porthos', 'Aramis')

In [18]:
a,b,c = musketeers

In [19]:
a

'Athos'

In [20]:
b

'Porthos'

In [21]:
c

'Aramis'

In [22]:
# It makes it really easy to swap variable names
fav_food = 'artichoke'
fav_dessert = 'ice cream'
print(fav_food)
print(fav_dessert)

artichoke
ice cream

In [23]:
fav_dessert,fav_food = fav_food,fav_dessert

In [24]:
fav_food

'ice cream'

In [25]:
fav_dessert

'artichoke'

# Immutability

you can't change the entries of a tuple like you can a list.

In [26]:
blah_tuple = ('this',1,3.892,'that','that','that','that')
blah_list = ['this',1,3.892,'that','that','that','that']

In [27]:
blah_list[0] = 'new thing'
blah_list

['new thing', 1, 3.892, 'that', 'that', 'that', 'that']

In [28]:
blah_tuple[0] = 'new thing'

TypeError: 'tuple' object does not support item assignment

In [29]:
blah_tuple.append('new')

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
blah_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

You get it.

## Why would I ever use a tuple?

1. Tuples use less space/memory than a list
2. You don't intend to change what it contains
3. You want to use it as a dictionary entry